extends ./main.layout.pug

block content
  .welcom-section
    section.hero
      .container.hero__container
        header.header
          a.logo(href="#") МШ
          nav.menu
            - var menuItems = ["Обо мне", "Навыки", "Работы", "Отзывы"]
            ul.menu__list
              each item in menuItems
                li.menu__item
                  a.menu__link(href="#") #{item}
          ul.socials
            - var socials = ["insta", "github", "vk", "envelope"]
            each item in socials
              li.socials__item
                a.socials__link(href="#")
                  +icon(item, "socials__icon")
        .user-info
          p.user-info__text Личный сайт #[br] веб разработчика
          h1.user-info__title Масим Шевцов
        .hero__bottom-buttons
          button.scroll-down-btn Скролл
    
    section.about
      .container.about__container
        .about__user
          .user
            .user__avatar
              .user__avatar-style
                +image("content/user.jpg", "user__avatar-pic")
            -
              var userInfo = [
                ["Проживаю:", "Счастье"],
                ["Возраст:", "33 года"],
                ["Родился:", "23 июля 1987"],
              ];
            table.user__data
              each item in userInfo
                tr.user__data-row
                  td.user__data-title #{item[0]}
                  td.user__data-content #{item[1]}
        .about__content
          .about__desc Привет, меня зовут
          .about__title Масим Шевцов
          .about__text-info Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
          .about__ps Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
  
  section.values
    .container.values__container
      .values__info-block
        h3.values__info-title Чем я могу быть полезен вам
        .values__info-content
          p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
      .values__widget
        -
          var skillsCategories = [
            ["Front-end", ["HTML5", "CSS3", "Javascript", "Jquery и Vue.js"]],
            ["Workflow", ["GIT", "Terminal", "Gulp", "Webpack"]],
          ];
        ul.skills
          each category in skillsCategories
            li.skills__item
              .skills-row.skills__row
                .skills-row__title #{category[0]}
                ul.skills-row__list
                 each skill in category[1]
                  li.skill-row__item
                    .skill
                      svg.skill__circle-shape(viewBox="0 0 100 100")
                        circle.skill__circle.skill__circle_layer_under(cx="50", cy="50" r="40")
                        circle.skill__circle.skill__circle_layer_above(cx="50", cy="50" r="40" stroke="url(#gradient)" transform="rotate(180 50 50)")
                        linearGradient(id="gradient" x1="0%" y1="0%" x2="100%" e2="0%")
                          stop(offset="0%" stop-color="#EA7400")
                          stop(offset="100%" stop-color="#F29400")
                      .skill__title #{skill}














